
html{
    color: #333;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    min-height: 90vh;
}
nav{
    background-color: #727171;
    padding: 0 5rem;
    height: 75px;
}

nav img{
    width: 4rem;
    padding-bottom: 0px;

}
header  h1 {
    padding-top: 20px;
}

footer{
    background-color: #727171 ;
    color: white;
    padding: 1rem 0;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

/******************************SECTION************************************/
/* SECTION ************************************************************************************************************/

article img{
    width: 100%;
    height: 300px;
}